.auth-form {
	.logo {
		width: 100px;
		height: 100px;
		object-fit: contain;
		border-radius: 50%;
		cursor: default;
	}

	.title-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		.title {
			text-align: center;
			cursor: default;
			line-break: anywhere;
		}

		.subtitle {
			text-align: center;
			opacity: 0.5;
			cursor: default;
		}
	}

	.data-form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		max-width: 360px;
		width: 100%;

		.icon {
			color: var(--color-blue);

			&:hover {
				color: var(--color-blue-hover);
			}
		}

		.forgot-password-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			gap: 5px;
			width: 100%;

			.remember-checkbox {
				& > span {
					font-size: 0.875rem;
					white-space: nowrap;
				}
			}

			.forgot-password-btn {
				color: var(--color-blue);
				cursor: pointer;
				text-align: end;
				white-space: nowrap;

				&:hover {
					color: var(--color-blue-hover);
				}
			}
		}
	}

	.registration-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 5px;
		max-width: 360px;
		width: 100%;

		& > span {
			cursor: default;
		}

		.registration-btn {
			color: var(--color-blue);
			cursor: pointer;

			&:hover {
				color: var(--color-blue-hover);
			}
		}
	}
}
